OPENAI_API_BASE="https://openrouter.ai"
OPENAI_API_KEY="your api key"
OPENAI_TIMEOUT_SECONDS="30"

MAIN_MODEL="moonshotai/kimi-k2.6:free,qwen/qwen3.5-flash-02-23"
JUDGE_MODEL="qwen/qwen3.5-flash-02-23"
